<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                zoomEnabled: true,
                title:{
                    text: "Prediction"
                },
                axisY :{
                    includeZero:false
                },
                data: data  // random generator below
            });
            chart.render();

        }

        var limit = 1000;

        var y = 0;
        var data = [];
        var dataSeries = { type: "line" };
        var dataPoints = [];
        // varier entre 0 et 0.00003
        for (var i = 0; i < limit; i += 1) {
            y += (Math.random() * 10 - 5);
            dataPoints.push({
                x: i - limit / 2,
                y: y
            });
        }
        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);

    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;">
</div>
</body>
</html>