<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>AIonos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Righteous">
  </head>
  <body>

      <h1 style="font-family: Righteous;"><div style="color:deepskyblue;display:inline-block;">AI</div>onos</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
          <div class="column" style="background: red;height: 300px;">
          <div id="chartContainer" style="height: 370px; width: 100%;"></div>
          <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
              </div>
          </div>
          <div class="column" style="background: blue;height: 100px;">
              <div class="Wrapper">
                  <div class="Input">
                      <form id="mainForm" action="/model" method="get" onkeypress="pressEnter(event);">
                          <input type="text" id="input" class="Input-text" placeholder="Antoine t'es gros" name="data">
                          <label for="input" class="Input-label">My brand !</label>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <h2>With <a href="https://github.com/gabrielmougard/HackathonIA"><font color="#00B7FF">AdOpinion</font></a>, fetch the right feelings for the brand !</h2>
    <script>
        function solarData() {
            var getJSON = function(url, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.responseType = 'json';
                xhr.onload = function() {
                    var status = xhr.status;
                    if (status === 200) {
                        callback(null, xhr.response);
                    } else {
                        callback(status, xhr.response);
                    }
                };
                xhr.send();
            };
            getJSON('https://services.swpc.noaa.gov/json/f107_cm_flux.json',
                function(err, data) {
                    if (err !== null) {
                        alert('Something went wrong: ' + err);
                    } else {
                        data1=data;
                        dataPoints=[];
                        data1.forEach(function(value,index){
                            dataPoints.push({x:new Date(value["time_tag"]), y:value["flux"]});

                        });
                        alert(dataPoints[0]["x"]);
                        alert(dataPoints[0]["y"]);
                        return dataPoints;
                    }
                });

        }
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "dark2",
                    title:{
                        text: "Intensite du flux solaire"
                    },
                    axisY:{

                    },
                    axisX: {

                        valueFormatString: "D MMM H:m:s" ,
                    },
                    data: [{
                        xValueType: "dateTime",
                        type: "line",
                        dataPoints: solarData(),
                    }]
                });
                chart.render();

            }
        </script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>






