<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>AIonos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Righteous">
  </head>
  <body>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>

      myfunc = async ()=> {
          var options = {
              chart: {
                  type: 'line'
              },
              series: [{
                  name: 'sales',
                  data: [30, 40, 35, 50, 49, 60, 70, 91, 125]
              }],
              xaxis: {
                  categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
              }
          }
          var chart = new ApexCharts(document.querySelector("LineChart"), options);

          await chart.render();
      }

      myfunc()




  </script>

      <h1 style="font-family: Righteous;"><div style="color:deepskyblue;display:inline-block;">AI</div>onos  </h1>
          <br>
            <h2 style="font-family: Righteous;">Unleash the
          <span
                  class="txt-rotate"
                  data-period="2000"
                  data-rotate='[ "speed", "precision", "prediction", "innovation" ]'>
        </span> of AI
            </h2>
      <br>
      <br>
      <br>
      <div class="row">
          <div class="column" style="background: red;height: 100%;">
              </div>
          <div class="column" style="background: blue;height: 100%;">
              <div class="Wrapper">
                  <div class="Input">
                      <form id="mainForm" action="/model" method="get" onkeypress="pressEnter(event);">
                          <input type="text" id="input" class="Input-text" placeholder="Search a frequency" name="data">
                          <label for="input" class="Input-label">My brand !</label>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <h2>With <a href="https://github.com/gabrielmougard/HackathonIA"><font color="#00B7FF">AIonos</font></a> never be cut off form the radio !</h2>
    <script>
        function solarData() {
            var getJSON = function(url, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.responseType = 'json';
                xhr.onload = function() {
                    var status = xhr.status;
                    if (status === 200) {
                        callback(null, xhr.response);
                    } else {
                        callback(status, xhr.response);
                    }
                };
                xhr.send();
            };
            getJSON('https://services.swpc.noaa.gov/json/f107_cm_flux.json',
                function(err, data) {
                    if (err !== null) {
                        alert('Something went wrong: ' + err);
                    } else {
                        data1=data;
                        dataPoints=[];
                        data1.forEach(function(value,index){
                            dataPoints.push({x:new Date(value["time_tag"]), y:value["flux"]});

                        });
                        alert(dataPoints[0]["x"]);
                        alert(dataPoints[0]["y"]);
                        return dataPoints;
                    }
                });

        }
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "dark2",
                    title:{
                        text: "Intensite du flux solaire"
                    },
                    axisY:{

                    },
                    axisX: {

                        valueFormatString: "D MMM H:m:s" ,
                    },
                    data: [{
                        xValueType: "dateTime",
                        type: "line",
                        dataPoints: solarData(),
                    }]
                });
                chart.render();

            }
        </script>
    <script src="/javascripts/main.js"></script>
    <!--blinking alert-->
  <script>
      let state = false;
      let counter = 0;
      function blink() {
          counter++;
          if (state){
              document.body.style.background = "#222";
              state = !state;
          }
          else if (counter<20){
              document.body.style.background = "red";
              state = !state;
          }
      }
      setTimeout(function() {
          setInterval(() => blink(), 500);
      }, 5000);
  </script>

  </body>
</html>






